p {
  margin: 20px 0;
}
.wrapper {
  width: 800px;
  margin: 0 auto;
  font-size: 18px;
}

.scroll {
  height: 400px;
  overflow: auto;
  padding: 20px;
  margin: 15px;
  border: 5px solid #ccc;
}

.slider {
  width: 800px;
  overflow: hidden;
}

.slider .container {
  width: max-content;
}

.slider img {
  width: 800px;
  height: 600px;
  float: left;
}
